.form-horizontal{
    margin:30px auto;
    width:50%;

}
/* input{
    width:50%;
} */
.jt{
  color: red;
    font-size: 20px;
}
/* .example-button-row{
    margin:0px auto;
} */

.example-button-row {
    display: block;
    margin-left: 400px;
    margin-right: 100px;
  }
  

