.lhp{
 
  height:50px;
  display:inline;
  float:left;
  margin-right:10px;
  margin-left:10px;
  padding-right:0px;
  padding-bottom: 11px;
}
.col-lg-6{
  margin-left:0px;
  padding-left:0px;
  
}
.zhongjian{margin-top:10px;
}
.zhongbu{
  /* background-image: url(../../../../assets/bb97f0c8-3e92-4ff4-62c3-a99a5925a0b5.gif); */
}
.mat-elevation-z8{
  border:1px;
}
table {
    width: 100%;
  }
  /* *{margin:0;padding:0} */
.t1{
  float:left;
}
/* .t2{
  float:right
} */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
