.zhongjian{
    /* background-color: white;
    height:400px;
    width:100%; */
    height:400px;width:100%;
    background-color: #F5F5F5;
    position: relative;
    margin:0px;


}
.row{
    /* background-color: blue; */
    /* margin:180px 200px;
    margin-left: 350px;
    margin-bottom: 300px;
    margin-top:100px; */
    /* border:100px ;
    height:100px;
    width:1000px; */
    height:400px;width:100%;
    /* background-color: white; */
    background-color:#269ED7;
    background-size: 100%;
    margin: auto;
    left: 0;
            right: 0;
            bottom: 0;
            top:0;
    padding: 0px;
    position: absolute;
}
.bt{
    margin-left:220px;
    /* padding-left: 100px; */
}
h2{color: white;
display:inline}
.col-lg-6{
    margin: auto;
    left: 0;
            right: 0;
            bottom: 0;
            top:120px;
    padding: 0px;
    position: absolute;  
}
.lhp{
 
    height:50px;
    display:inline;
    /* float:left; */
    margin-right:10px;
    margin-left:10px;
    padding-right:0px;
    padding-bottom: 11px;
  }
.news{
    height:400px;width:100%;
    background-color: #F5F5F5;
    position: relative;
}
.newContent{
    height:350px;width:80%;
    background-color: white;
    margin: auto;
    left: 0;
            right: 0;
            bottom: 0;
            top:0;
    padding: 0px;
    position: absolute;
}
li{margin:10px;
    list-style: none}
h3{margin:10px}
.ntime{
    text-align: right;
    float:right;
}
