<span *ngIf="!currentUser">
    <button mat-button (click)="gotoLogin()">登录</button>
    <button mat-button routerLink="sign-up">注册</button>
  </span>
  <span *ngIf="currentUser">
    <button mat-button [matMenuTriggerFor]="user">欢迎 {{username}}</button>
    <mat-menu #user="matMenu">
      <button mat-menu-item routerLink="user/user-info">查看用户信息</button>
      <button mat-menu-item routerLink="user/user-record">查看订单记录</button>
      <button mat-menu-item (click)="logout()">登出</button>
    </mat-menu>
  
  </span>